@import url('file:///home/mvayk/.cache/wal/colors-waybar.css');

* {
  border: none;
  border-radius: 0;
  font-family: Iosevka Nerd Font;
  font-weight: bold;
  font-size: 13px;
  color: #FFFFFF;
}

window#waybar {
  background: rgba(0,0,0,1);
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0;
  margin: 2px;
  border: 1px solid @color10;
}

#workspaces button {
  padding: 0 8px;
  color: #FFFFFF;
}

#workspaces button:hover {
  background: rgba(0,0,0, 0.4)
}

#workspaces button.active {
  color: #FFFFFF;
  background: transparent;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
  padding: 0 8px;
}

#tray > .passive {
  opacity: 0.6;
}

#tray > .active {
  opacity: 1.0;
}
